<!DOCTYPE html>
<html>
    <head>
        <title>Graphium</title>
        <link rel="shortcut icon" href="assets/logo/favicon.ico" type="image/x-icon">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
              <a href="#!"  data-activates="slide-out" class="brand-menu brand-logo"><i class="material-icons">menu</i></a> 
              
              <ul class="right hide-on-med-and-down">
                <li><a href="#!"><img src='/assets/logo/graphium.png' style="height:40px;width:285px;margin-top: 12px"></a></li>
              </ul>
            </div>
        </nav>
        <ul id="slide-out" class="side-nav">
            <li><div class="userView">
              <div class="background">
                <img src="/assets/dashboard/background.jpg">
              </div>
              <a href="#!user"><img class="circle" src="/assets/dashboard/profile.jpg"></a>
              <a href="#!name"><span class="white-text name">Glauco Munsberg</span></a>
              <a href="#!email"><span class="white-text email">glaucomunsberg@gmail.com</span></a>
            </div></li>
            <li><a href="/"><i class="material-icons">dashboard</i>Dashboard</a></li>
            <li><a href="/graphium/analytics"><i class="material-icons">timeline</i>Análises</a></li>
            <li><a href="/graphium/agent"><i class="material-icons">places</i>Agentes</a></li>
            <li><a href="/graphium/street"><i class="material-icons">directions</i>Ruas</a></li>
            <li><div class="divider"></div></li>
            <li><a href="/graphium/analytics/history"><i class="material-icons">navigation</i>Histórico de Análises</a></li>
            <li><a href="/graphium/history"><i class="material-icons">history</i>Histórico de Agentes</a></li>
            <li><a class="subheader">Outros</a></li>
            <li><a href="#!"><i class="material-icons">settings</i>Configurações</a></li>
            <li><a class="waves-effect" href="#!"><i class="material-icons">info_outline</i>Sobre</a></li>
          </ul>
      
        <div class="container">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
            <%= yield %>
        </div>    
        <script>
            $(".brand-menu").sideNav();
        </script>
        <style>
            .brand-menu{
                margin-left:10px;
            }
        </style>
    </body>
</html>
