<%=breadcrumbs [{:name => 'Home',:path => '/'},{:name => 'Street', :path => '/graphium/street'}]%>
<table class="highlight">
    <thead>
      <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Superfice</th>
          <th>Nº of nodes</th>
      </tr>
    </thead>

    <tbody>
        <%@streets.each do |street|%>
            <tr>
                <td><%=street.name_osm%></td>
                <td><%=street.type_osm%></td>
                <td><%=street.surface_osm%></td>
                <td><%=street.nodes.length%></td>
              </tr>
        <%end%>
        <%if @streets.length == 0%>
            <tr>
                <td style="text-align: center;" colspan='5'>No street in graphium</td>
            </tr>
        <%end%>
    </tbody>
</table>